* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2f00ff;
    color: #2600ff;
    padding: 20px;
}
li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fc0000;
}
img {
    width: 75%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
header{
    text-align: center;
    margin-bottom: 30px;
    color: green;
}
